<div class="card-container">
  <!-- Agency links -->
  <div class="card-container">
    <div class="content">
      <h2>Agency</h2>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ agency.local.onboarding.url }}"
      >
        <span>{{ agency.local.onboarding.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ agency.local.cpm.url }}"
      >
        <span>{{ agency.local.cpm.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ agency.local.bom.url }}"
      >
        <span>{{ agency.local.bom.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ agency.develop.onboarding.url }}"
      >
        <span>{{ agency.develop.onboarding.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ agency.develop.cpm.url }}"
      >
        <span>{{ agency.develop.cpm.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ agency.develop.bom.url }}"
      >
        <span>{{ agency.develop.bom.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ agency.staging.onboarding.url }}"
      >
        <span>{{ agency.staging.onboarding.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ agency.staging.cpm.url }}"
      >
        <span>{{ agency.staging.cpm.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ agency.staging.bom.url }}"
      >
        <span>{{ agency.staging.bom.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ agency.prod.onboarding.url }}"
      >
        <span>{{ agency.prod.onboarding.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ agency.prod.cpm.url }}"
      >
        <span>{{ agency.prod.cpm.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ agency.prod.bom.url }}"
      >
        <span>{{ agency.prod.bom.text }}</span>
      </a>
    </div>
  </div>

  <!-- NNB links -->
  <div class="card-container">
    <div class="content">
      <h2>Nelnet Bank</h2>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ nnb.local.onboarding.url }}"
      >
        <span>{{ nnb.local.onboarding.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ nnb.local.cpm.url }}"
      >
        <span>{{ nnb.local.cpm.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ nnb.local.bom.url }}"
      >
        <span>{{ nnb.local.bom.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ nnb.develop.onboarding.url }}"
      >
        <span>{{ nnb.develop.onboarding.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ nnb.develop.cpm.url }}"
      >
        <span>{{ nnb.develop.cpm.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ nnb.develop.bom.url }}"
      >
        <span>{{ nnb.develop.bom.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ nnb.staging.onboarding.url }}"
      >
        <span>{{ nnb.staging.onboarding.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ nnb.staging.cpm.url }}"
      >
        <span>{{ nnb.staging.cpm.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ nnb.staging.bom.url }}"
      >
        <span>{{ nnb.staging.bom.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ nnb.prod.onboarding.url }}"
      >
        <span>{{ nnb.prod.onboarding.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ nnb.prod.cpm.url }}"
      >
        <span>{{ nnb.prod.cpm.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ nnb.prod.bom.url }}"
      >
        <span>{{ nnb.prod.bom.text }}</span>
      </a>
    </div>
  </div>

  <!-- Brazos Links -->
  <div class="card-container">
    <div class="content">
      <h2>Brazos</h2>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ brazos.local.onboarding.url }}"
      >
        <span>{{ brazos.local.onboarding.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ brazos.local.cpm.url }}"
      >
        <span>{{ brazos.local.cpm.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ brazos.local.bom.url }}"
      >
        <span>{{ brazos.local.bom.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ brazos.develop.onboarding.url }}"
      >
        <span>{{ brazos.develop.onboarding.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ brazos.develop.cpm.url }}"
      >
        <span>{{ brazos.develop.cpm.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ brazos.develop.bom.url }}"
      >
        <span>{{ brazos.develop.bom.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ brazos.staging.onboarding.url }}"
      >
        <span>{{ brazos.staging.onboarding.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ brazos.staging.cpm.url }}"
      >
        <span>{{ brazos.staging.cpm.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ brazos.staging.bom.url }}"
      >
        <span>{{ brazos.staging.bom.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ brazos.prod.onboarding.url }}"
      >
        <span>{{ brazos.prod.onboarding.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ brazos.prod.cpm.url }}"
      >
        <span>{{ brazos.prod.cpm.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ brazos.prod.bom.url }}"
      >
        <span>{{ brazos.prod.bom.text }}</span>
      </a>
    </div>
  </div>

  <!-- SFI Links -->
  <div class="card-container">
    <div class="content">
      <h2>SFI</h2>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ sfi.local.onboarding.url }}"
      >
        <span>{{ sfi.local.onboarding.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ sfi.local.cpm.url }}"
      >
        <span>{{ sfi.local.cpm.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ sfi.local.bom.url }}"
      >
        <span>{{ sfi.local.bom.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ sfi.develop.onboarding.url }}"
      >
        <span>{{ sfi.develop.onboarding.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ sfi.develop.cpm.url }}"
      >
        <span>{{ sfi.develop.cpm.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ sfi.develop.bom.url }}"
      >
        <span>{{ sfi.develop.bom.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ sfi.staging.onboarding.url }}"
      >
        <span>{{ sfi.staging.onboarding.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ sfi.staging.cpm.url }}"
      >
        <span>{{ sfi.staging.cpm.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ sfi.staging.bom.url }}"
      >
        <span>{{ sfi.staging.bom.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ sfi.prod.onboarding.url }}"
      >
        <span>{{ sfi.prod.onboarding.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ sfi.prod.cpm.url }}"
      >
        <span>{{ sfi.prod.cpm.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ sfi.prod.bom.url }}"
      >
        <span>{{ sfi.prod.bom.text }}</span>
      </a>
    </div>
  </div>

  <!-- Repos -->
  <div class="card-container">
    <div class="content">
      <h2>Repos</h2>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ repos.agency.url }}"
      >
        <span>{{ repos.agency.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ repos.brazos.url }}"
      >
        <span>{{ repos.brazos.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ repos.nelnetBank.url }}"
      >
        <span>{{ repos.nelnetBank.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ repos.sfi.url }}"
      >
        <span>{{ repos.sfi.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ repos.backOffice.url }}"
      >
        <span>{{ repos.backOffice.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ repos.customerPortal.url }}"
      >
        <span>{{ repos.customerPortal.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ repos.commonLine.url }}"
      >
        <span>{{ repos.commonLine.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ repos.iam.url }}"
      >
        <span>{{ repos.iam.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ repos.entity.url }}"
      >
        <span>{{ repos.entity.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ repos.task.url }}"
      >
        <span>{{ repos.task.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ repos.documentManager.url }}"
      >
        <span>{{ repos.documentManager.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ repos.templateEngine.url }}"
      >
        <span>{{ repos.templateEngine.text }}</span>
      </a>
    </div>
  </div>
</div>

<div class="card-container">
  <!-- Dev Tools -->
  <div class="card-container">
    <div class="content">
      <h2>Dev Tools</h2>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ devTools.tokenPortalDevelop.url }}"
      >
        <span>{{ devTools.tokenPortalDevelop.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ devTools.tokenPortalStaging.url }}"
      >
        <span>{{ devTools.tokenPortalStaging.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ devTools.tokenPortalProd.url }}"
      >
        <span>{{ devTools.tokenPortalProd.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ devTools.jumperPortalStaging.url }}"
      >
        <span>{{ devTools.jumperPortalStaging.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ devTools.commonLineDemoDevelop.url }}"
      >
        <span>{{ devTools.commonLineDemoDevelop.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ support.dataDog.url }}"
      >
        <span>{{ support.dataDog.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ support.jfrog.url }}"
      >
        <span>{{ support.jfrog.text }}</span>
      </a>
    </div>
  </div>

  <!-- Jira Boards -->
  <div class="card-container">
    <div class="content">
      <h2>Jira Boards</h2>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ support.jiraTnb.url }}"
      >
        <span>{{ support.jiraTnb.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ support.jiraImppact.url }}"
      >
        <span>{{ support.jiraImppact.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ support.jiraD2tc.url }}"
      >
        <span>{{ support.jiraD2tc.text }}</span>
      </a>
      <div class="container">
        <input
          class="search-field"
          placeholder="ticket#"
          (input)="ticketNumber = getValue($event)"
        />
        <a href="{{ jiraUrl }}" target="_blank" rel="noopener">
          <button class="search-button">{{ jiraUrl }}</button>
        </a>
      </div>
    </div>
  </div>

  <!-- Nelnet -->
  <div class="card-container">
    <div class="content">
      <h2>Nelnet</h2>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ nelnet.workday.url }}"
      >
        <span>{{ nelnet.workday.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ nelnet.nelnetSharepoint.url }}"
      >
        <span>{{ nelnet.nelnetSharepoint.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ nelnet.servicePortal.url }}"
      >
        <span>{{ nelnet.servicePortal.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ nelnet.learningPortal.url }}"
      >
        <span>{{ nelnet.learningPortal.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ nelnet.wellAware.url }}"
      >
        <span>{{ nelnet.wellAware.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ nelnet.marathonHealth.url }}"
      >
        <span>{{ nelnet.marathonHealth.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ nelnet.pluralsight.url }}"
      >
        <span>{{ nelnet.pluralsight.text }}</span>
      </a>
    </div>
  </div>

  <!-- On-Call -->
  <div class="card-container">
    <div class="content">
      <h2>On-Call</h2>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ onCall.pagerDuty.url }}"
      >
        <span>{{ onCall.pagerDuty.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ onCall.dataDogMonitor.url }}"
      >
        <span>{{ onCall.dataDogMonitor.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ onCall.onCallProdSupport.url }}"
      >
        <span>{{ onCall.onCallProdSupport.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ onCall.supportDiagram.url }}"
      >
        <span>{{ onCall.supportDiagram.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ onCall.contactListExternal.url }}"
      >
        <span>{{ onCall.contactListExternal.text }}</span>
      </a>
      <a
        class="card card-small"
        target="_blank"
        rel="noopener"
        href="{{ onCall.contactListInternal.url }}"
      >
        <span>{{ onCall.contactListInternal.text }}</span>
      </a>
    </div>
  </div>
</div>
