:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.content {
  display: flex;
  margin: 32px auto 16px;
  padding: 0 16px;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-top: 16px;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 8px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card.card-small {
  height: 0.5rem;
  width: 168px;
}
.card-container .card {
  cursor: pointer;
}

.card-container .card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:hover .material-icons path {
  fill: rgb(105, 103, 103);
}

a,
a:visited,
a:hover {
  color: #555555;
  text-decoration: none;
}

a:hover {
  color: #137931;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

.jira-form-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 16px;
  margin: 32px auto 16 px;
}

.jira-form-container > label {
  padding: 2px;
}

.jira-ticket-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  margin-top: 2rem;
}

.jira-ticket-field {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fcfcfc;
  height: 0.5rem;
  width: 80px;
  margin: 0 8px 8px;
  padding: 16px;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.jira-ticket-button {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #4e96dd;
  color: white;
  height: 0.5rem;
  width: 38px;
  margin: 0 8px 8px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  position: relative;
  display: flex;
}

.jira-ticket-button > p {
  line-height: 1rem;
  font-size: 0.7rem;
}
